@import "fonts";
@import "default";
@import "header";
@import "mains";
@import "media";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Geomanist", sans-serif;
  color: #fff;
  letter-spacing: 0.64px;
}
