@font-face {
  font-family: "Geomanist";
  src: url(../fonts/Geomanist-Book.otf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Geomanist-medium";
  src: url(../fonts/Geomanist-Medium.otf);
  font-weight: medium;
  font-style: normal; }

a {
  display: inline-block;
  color: #fff;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  max-width: 1366px;
  padding: 0 25px;
  margin: 0 auto; }

.header {
  min-height: 70px;
  background: #252434; }
  .header__inner {
    padding-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__menu-btn {
    width: 40px;
    height: 40px;
    background-image: url(../images/header-menu.png);
    background-position: center; }
  .header__nav {
    margin-left: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 535px; }
  .header__item {
    cursor: pointer;
    position: relative;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 35px;
    font-size: 14px; }
    .header__item:nth-child(4) {
      padding: 0; }
    .header__item:nth-child(1) {
      padding: 0 30px;
      background: -webkit-gradient(linear, left top, left bottom, from(#252435), to(#2b2a3b));
      background: linear-gradient(#252435, #2b2a3b); }
      .header__item:nth-child(1)::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(#b34c9c), to(#fa8868));
        background: linear-gradient(90deg, #b34c9c, #fa8868); }
    .header__item:not(:last-child):hover {
      background: -webkit-gradient(linear, left top, left bottom, from(#252435), to(#2b2a3b));
      background: linear-gradient(#252435, #2b2a3b); }
      .header__item:not(:last-child):hover::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(#b34c9c), to(#fa8868));
        background: linear-gradient(90deg, #b34c9c, #fa8868); }
  .header__btn {
    font-family: "Geomanist", sans-serif;
    cursor: pointer;
    margin-left: 5px;
    border: none;
    background-color: transparent;
    background-image: url(../images/header-btn.png);
    background-position: center 0;
    width: 106px;
    text-align: center;
    font-size: 14px;
    line-height: 42px;
    color: #fff; }
  .header__user-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 265px;
    width: 100%; }
  .header__user-prize {
    width: 30px;
    height: 30px;
    background-image: url(../images/header-prize.png);
    background-repeat: no-repeat;
    background-position: center; }
  .header__user-message {
    width: 30px;
    height: 30px;
    background-image: url(../images/header-message.png);
    background-repeat: no-repeat;
    background-position: center -5px; }
  .header__user-coin {
    width: 85px;
    padding-left: 40px;
    font-size: 14px;
    line-height: 38px;
    background-image: url(../images/header-coin.png);
    background-repeat: no-repeat;
    background-position: center -10px; }
  .header__user-avatar {
    width: 50px;
    height: 50px;
    background-image: url(../images/header-avatar.png);
    background-repeat: no-repeat;
    background-position: center 0; }

.main {
  min-height: 1485px;
  background-color: #323145;
  background-image: url(../images/main-bg.png);
  background-repeat: no-repeat;
  background-size: contain; }
  .main__inner {
    padding-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main__content {
    max-width: 830px;
    min-width: 550px;
    width: 100%;
    margin-right: 30px; }
  .main__back {
    position: relative;
    font-size: 18px;
    margin-bottom: 30px;
    padding-left: 30px; }
    .main__back::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 10px;
      height: 15px;
      background-image: url(../images/main-arrow.png);
      background-repeat: no-repeat;
      background-position: center; }
  .main__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 72px;
    padding: 0 55px;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: rgba(37, 36, 52, 0.8); }
  .main__prev, .main__next {
    position: relative;
    font-size: 14px;
    color: #9d9acc; }
    .main__prev::before, .main__next::before {
      content: "";
      position: absolute;
      left: -30px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 10px;
      height: 15px;
      background-image: url(../images/main-arrow.png);
      background-repeat: no-repeat;
      background-position: center; }
  .main__next::before {
    top: 50%;
    left: auto;
    right: -30px;
    -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg); }
  .main__int {
    width: 100%;
    background-color: #242333;
    border-radius: 12px;
    margin-bottom: 20px; }
  .main__int-box {
    padding: 25px; }
  .main__int-img {
    border-radius: 17px;
    margin-bottom: 17px;
    max-width: 100%; }
  .main__int-title {
    font-family: "Geomanist-medium", sans-serif;
    font-size: 22px;
    letter-spacing: 0.85px;
    margin-bottom: 10px; }
  .main__int-data {
    color: rgba(148, 143, 183, 0.5);
    font-size: 16px;
    margin-bottom: 25px; }
  .main__int-text {
    font-size: 16px;
    line-height: 25px;
    color: #9d9acc;
    margin-bottom: 25px; }
    .main__int-text2 {
      margin-bottom: 25px; }
  .main__int-networks {
    border-top: 2px solid #323145;
    padding: 0 25px 0 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 82px; }
  .main__int-status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 195px;
    width: 100%; }
  .main__int-like {
    font-size: 16px;
    line-height: 25px;
    padding-left: 35px;
    background-image: url(../images/int-like.png);
    background-repeat: no-repeat; }
  .main__int-views {
    font-size: 16px;
    line-height: 25px;
    color: #9d9acc;
    padding-left: 45px;
    background-image: url(../images/int-eye.png);
    background-repeat: no-repeat;
    background-position: 0 3px; }
  .main__int-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 110px;
    width: 100%; }
  .main__comments {
    background-color: #242333;
    border-radius: 12px 12px 0 0; }
  .main__comments-top {
    padding: 0 40px 0 30px;
    border-bottom: 2px solid #323145;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .main__comments-counter {
    padding-left: 40px;
    font-size: 18px;
    color: #9d9acc;
    background-image: url(../images/massage.png);
    background-repeat: no-repeat; }
    .main__comments-counter .counter {
      color: #fff; }
  .main__comments-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 170px;
    width: 100%; }
  .main__comments-link {
    cursor: pointer;
    position: relative;
    font-size: 16px;
    line-height: 77px;
    padding: 0 10px; }
    .main__comments-link::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: -webkit-gradient(linear, left top, right top, from(#b34c9c), to(#fa8868));
      background: linear-gradient(90deg, #b34c9c, #fa8868); }
    .main__comments-link2 {
      color: #9d9acc; }
      .main__comments-link2::before {
        content: none; }
      .main__comments-link2:hover::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(#b34c9c), to(#fa8868));
        background: linear-gradient(90deg, #b34c9c, #fa8868); }
  .main__comments-content {
    padding: 30px 25px 60px; }
  .main__comments-input {
    width: 100%;
    min-height: 62px;
    border: none;
    border-radius: 5px;
    background-color: #2a293b;
    font-size: 16px;
    color: #585675;
    padding: 5px 60px 0 25px;
    margin-bottom: 20px;
    background-image: url(../images/comments.png);
    background-repeat: no-repeat;
    background-position: 96% center;
    outline-color: #9d9acc; }
    .main__comments-input::-webkit-input-placeholder {
      color: #585675; }
    .main__comments-input::-moz-placeholder {
      color: #585675; }
    .main__comments-input:-ms-input-placeholder {
      color: #585675; }
    .main__comments-input::-ms-input-placeholder {
      color: #585675; }
    .main__comments-input::placeholder {
      color: #585675; }
  .main__comments-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 15px 0 20px;
    border-bottom: 2px solid #323145; }
    .main__comments-item:nth-child(2) {
      padding-bottom: 30px; }
  .main__comments-box {
    padding: 10px 20px 0; }
  .main__comments-title-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px; }
  .main__comments-title {
    color: #9d9acc;
    font-size: 18px;
    padding-right: 15px; }
  .main__comments-day {
    font-size: 16px;
    color: #585675; }
  .main__comments-text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4; }
  .main__news {
    max-width: 445px;
    width: 100%; }
  .main__news-title {
    font-size: 18px;
    margin-bottom: 30px; }
  .main__news-item {
    min-height: 260px;
    max-width: 443px;
    min-width: 320px;
    width: 100%;
    background-image: url(../images/new.jpg);
    background-size: cover;
    border-radius: 11px;
    margin-bottom: 42px;
    padding-top: 150px; }
  .main__news-content {
    background-color: rgba(37, 36, 52, 0.8);
    height: 110px;
    padding: 20px 35px 0 28px;
    border-radius: 0 0 11px 11px;
    -webkit-box-shadow: 0 22px 50px -10px rgba(0, 0, 0, 0.75);
            box-shadow: 0 22px 50px -10px rgba(0, 0, 0, 0.75); }
  .main__news-item-title {
    font-size: 18px;
    margin-bottom: 7px; }
  .main__news-text {
    font-size: 14px;
    color: #9d9acc; }

@media (max-width: 1250px) {
  .header__nav {
    margin: 0; } }

@media (max-width: 1000px) {
  .container {
    padding: 0 20px; }
  .header__inner {
    display: block;
    padding-bottom: 10px; }
  .header__user-nav {
    margin-left: auto; }
  .main__inner {
    display: block;
    padding-top: 20px; }
  .main__content {
    max-width: 100%;
    min-width: 320px; }
  .main__int-box {
    text-align: center; }
  .main__comments {
    border-radius: 12px; }
  .main__news {
    margin: 35px auto 0;
    text-align: center;
    max-width: 100%; }
  .main__news-list {
    padding-bottom: 42px; }
  .main__news-item {
    max-width: 100%;
    background-position-y: -30px; } }

@media (max-width: 600px) {
  .container {
    padding: 0; }
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0; }
  .header__nav {
    display: none; }
  .header__user-nav {
    padding: 20px;
    max-width: 100%;
    margin-left: auto; }
  .main__inner {
    padding-top: 20px; }
  .main__back {
    margin-left: 20px; }
  .main__int-networks {
    display: block;
    padding: 20px; }
  .main__int-status {
    max-width: 100%;
    margin-bottom: 10px; }
  .main__int-list {
    max-width: 100%; }
  .main__comments-top {
    display: block;
    padding-top: 20px; }
  .main__comments-counter {
    text-align: center; }
  .main__comments-links {
    max-width: 100%; }
  .main__news-item {
    background-position-y: 0; } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Geomanist", sans-serif;
  color: #fff;
  letter-spacing: 0.64px; }

/*# sourceMappingURL=main.css.map */
